html {
  font-family: sans-serif, Arial, Helvetica;
}

.encabezado {
  color: #0b5887;
  text-align: center;
  margin-top: 80px;
}

.formulario-agregar {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width: 400px;
}

.boton-registrar {
  background-color: #0b5887;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-top: 15px;
}
.boton-registrar:hover {
  background-color: #06629b;
  cursor: pointer;
  scale: 1.01;
}
.boton-eliminar {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-top: 15px;
}
.boton-eliminar:hover {
  background-color: #df4415;
  cursor: pointer;
  scale: 1.01;
}
.boton-editar {
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-top: 15px;
}
.boton-editar:hover {
  background-color: #e6a700;
  cursor: pointer;
  scale: 1.01;
}
.formulario-tarea {
  display: flex;
  flex-direction: column;
}

.tarea {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid #007bff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  position: relative;
}

.completada {
  color: green;
  font-weight: bold;
}

.pendiente {
  color: #999;
}
